{% extends 'template.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
    <p> {{ msg }} </p>
{% endfor %}
<form method="POST">
    <h3>Edit User</h3>
    <input type = "text" name="firstname" value={{user.first_name}}> 
    <input type = "text" name="lastname" value={{user.last_name}}> 
    <input type = "text" name="imgurl" value={{user.image_url}}> 
    <input type = "submit" value = "Submit">
</form> 
<br>
<span><a href="/users">
    <button>Cancel</button>
    </a></span>

{% endblock %}
